<h3>Welcome {{ username }},</h3>

<p>
We got your registering request, <a href={{ url }}>please confirm your email</a>.
</p>

<p style="color: gray, margin-inline: auto">
    The Discord web Team
</p>