<h3>Confirmation reset password</h3>

<p>
Hello {{ username }}, your password has been correctky changed.
</p>
<p>Please login back : <code>{{ link }}</code></p>

<p style="color: gray, margin-inline: auto">
    The Discord web Team
</p>